.App {
  height: 100vh;
  text-align: center;
}

.SelectActiveImages {
  background-color: white;
  color: #4f587d
}

.SelectDeletedImages {
  background-color: #4f587d;
  color: white
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #4f587d;
  border-color: #4f587d;
}